<div class="m-8 flex justify-center w-full">
  <div class=" mx-auto mt-8 p-4 bg-white shadow-md rounded-md " style="height:min-content">
    <h1 class="text-2xl font-bold mb-4 text-green-500">Successfully Added</h1>
    <div class="mb-4">
      <h3 class="text-xl font-semibold"><%= @cart.product.name %></h3>
      <p class="text-gray-600">Quantity: <%= @cart.quantity %></p>
    </div>
    <%= link_to 'Back', carts_path, class: 'no-underline block w-full py-2 px-4 bg-blue-500 text-white text-center rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300' %>
  </div>
</div>

<script>
 document.getElementById("cart").innerText=`cart <%= @total_count%>`
</script>